body {
  color: #505050;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  line-height: 2;
  background-color: #fff;
  background: url(../img/bg13.png) no-repeat;
  background-size: cover;
  background-position: center;
}

a {
  color: inherit;
  text-decoration: none;
}

footer {
  width: 100%;
  background-color: #BF92A8;
}

.footer-inner {
  width: 100%;
  height: 150px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.access_top_wrapper {
  position: relative;
  width: 100%;
  height: 40vh;
  overflow: hidden;
  background: url("../img/unsplash_csPvbh_E1uc.png") no-repeat center;
  background-size: cover;
}

.access_top_inner {
  position: absolute;
  text-align: center;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.access_top_inner h1 {
  font-size: 4.5rem;
  font-weight: 700;
  color: #ddd;
}

.access_top_inner p {
  font-size: 2.5rem;
  font-weight: 700;
  color: #ddd;
}

.top {
  width: 100%;
  height: auto;
}

.top_img {
  background: url(../img/laugh-gc5d6341ee_1920.jpg) no-repeat;
  width: 100%;
  height: 97vh;
  background-size: cover;
  background-position: center;
}

.top_txt {
  display: inline-block;
  width: 40%;
  height: 10vh;
  background-color: rgba(240, 248, 255, 0.627);
  -webkit-box-shadow: 10px 10px 0px #505050;
          box-shadow: 10px 10px 0px #505050;
  margin-left: 50%;
  margin-top: 20%;
  text-align: center;
}

.top_txt p {
  font-size: 50px;
  color: #9E7E44;
}

.top_ander {
  width: 100%;
  height: 100vh;
}

.top_ander .ander {
  width: 90%;
  height: 90vh;
  margin-left: 5%;
}

.top_ander .ander_title {
  -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: tb-rl;
  width: 100%;
  height: 72vh;
  display: inline-block;
  margin-top: 10%;
  margin-left: -5%;
}

.top_ander .ander_title p {
  font-size: 40px;
  letter-spacing: 5mm;
  color: #9E7E44;
}

.top_ander .ander_sbtitle {
  width: 27%;
  height: auto;
  padding-left: 2%;
  border-left: solid 5px #b39768;
  position: relative;
  left: 45%;
  bottom: 70%;
  line-height: 15mm;
}

.top_ander .ander_sbtitle p {
  font-size: 40px;
}

.top_ander .ander_txt {
  width: 31%;
  height: auto;
  position: relative;
  bottom: 60%;
  left: 45%;
}

.top_ander .ander_txt p {
  font-size: 20px;
}

.top_ander .ander_img {
  background: url(../img/unsplash_Bt7qAasDW5s.png) no-repeat;
  width: 35%;
  height: 68vh;
  background-size: cover;
  background-position: center;
  position: relative;
  bottom: 130%;
  left: 5%;
}

.top_ander .ander_img_txt {
  width: 100%;
  height: auto;
  margin-top: 125%;
  display: inline-block;
  text-align: center;
}

.top_ander .ander_img_txt p {
  font-size: 20px;
}

.feature {
  display: block;
  position: relative;
  width: 90%;
  height: 90vh;
  margin-left: 5%;
}

.feature_title {
  width: 100%;
  height: 10vh;
  background-color: #BF92A8;
}

.feature_title p {
  font-size: 40px;
  padding-left: 5%;
  padding-top: 1%;
  color: #fff;
}

.feature_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
}

.feature_item {
  width: 25%;
  height: 50vh;
}

.feature li:first-child {
  border-right: solid 1px #b39768;
  padding-right: 5%;
}

.feature li:last-child {
  border-left: solid 1px #b39768;
  padding-left: 5%;
}

.feature_nbr {
  font-size: 40px;
  color: #b39768;
}

.feature_sbutitle {
  font-size: 30px;
  color: #b39768;
}

.feature_txt {
  padding-top: 5%;
  font-size: 20px;
}

.diagnosis {
  display: block;
  position: relative;
  width: 90%;
  height: 120vh;
  margin-left: 5%;
}

.diagnosis_title {
  width: 100%;
  height: 10vh;
  background-color: #BF92A8;
}

.diagnosis_title p {
  font-size: 40px;
  padding-left: 5%;
  padding-top: 1%;
  color: #fff;
}

.diagnosis_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 82vh;
  width: 100%;
  margin-top: 2%;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.diagnosis_menu1 {
  background: url(../img/Group130.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
  width: 49%;
  height: 25vh;
  -webkit-box-shadow: 5px 10px 10px #505050;
          box-shadow: 5px 10px 10px #505050;
}

.diagnosis_menu2 {
  background: url(../img/unsplash_ILip77SbmOE.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
  width: 49%;
  height: 25vh;
  -webkit-box-shadow: 5px 10px 10px #505050;
          box-shadow: 5px 10px 10px #505050;
}

.diagnosis_menu3 {
  background: url(../img/unsplash_gtkvIGeHAn4.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
  width: 49%;
  height: 25vh;
  -webkit-box-shadow: 5px 10px 10px #505050;
          box-shadow: 5px 10px 10px #505050;
}

.diagnosis_menu4 {
  background: url(../img/23651448.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
  width: 49%;
  height: 25vh;
  -webkit-box-shadow: 5px 10px 10px #505050;
          box-shadow: 5px 10px 10px #505050;
}

.diagnosis_menu5 {
  background: url(../img/unsplash_yIitNO2Bgdo.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
  width: 49%;
  height: 25vh;
  -webkit-box-shadow: 5px 10px 10px #505050;
          box-shadow: 5px 10px 10px #505050;
}

.diagnosis_menu6 {
  background: url(../img/unsplash_i4OHxtxiMtk.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
  width: 49%;
  height: 25vh;
  -webkit-box-shadow: 5px 10px 10px #505050;
          box-shadow: 5px 10px 10px #505050;
}

.diagnosis_arr {
  width: 10%;
  margin-left: 85%;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  background-color: #9E7E44;
  display: inline-block;
  min-width: 180px;
  font-size: 1.6rem;
  border-radius: 5px;
  margin-right: 3%;
  color: #fff;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

button:hover {
  background-color: #b39768;
}

.feature_btn {
  bottom: 34%;
  display: inline-block;
  width: 10%;
  position: absolute;
  height: 60px;
  background-color: #9E7E44;
  text-align: center;
  left: 45%;
  border-radius: 5px;
  top: 80%;
}

.feature_btn a {
  font-size: 30px;
  color: aliceblue;
}

.feature_btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  -webkit-box-shadow: 5px 10px 10px #505050;
          box-shadow: 5px 10px 10px #505050;
  opacity: 0.8;
}

.diagnosis_btn {
  bottom: 34%;
  display: inline-block;
  width: 10%;
  position: absolute;
  height: 60px;
  background-color: #9E7E44;
  text-align: center;
  left: 45%;
  border-radius: 5px;
  top: 80%;
}

.diagnosis_btn a {
  font-size: 30px;
  color: aliceblue;
}

.diagnosis_btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  -webkit-box-shadow: 5px 10px 10px #505050;
          box-shadow: 5px 10px 10px #505050;
  opacity: 0.8;
}

.header {
  width: 100%;
  background-color: #BF92A8;
}

.header_inner {
  width: 100%;
  height: 110px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_inner_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_logo img {
  display: block;
  width: 110px;
}

.header_title {
  display: block;
  width: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5%;
}

.header_title p {
  color: #fff;
}

.header_site_contact span,
.header p {
  color: #fff;
}

.header_site_contact p {
  font-size: 1.2rem;
}

.toggle_menu_button {
  display: none;
}

.site_menu ul {
  width: 100%;
  display: table;
}

.site_menu ul li {
  display: table-cell;
  text-align: center;
  padding: 2.5%;
}

.site_menu ul li a {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 700;
  width: 150px;
  color: #fff;
}

.site_menu ul li a:hover {
  color: #888;
  border-bottom: solid 2px #ddd;
}

.site_menu ul li a span {
  display: block;
  margin-top: 5%;
  font-size: 0.75rem;
}
