.access {

  &_top {
    &_wrapper {
      position: relative;
      width: 100%;
      height: 40vh;
      overflow: hidden;
      background: url("../img/unsplash_csPvbh_E1uc.png") no-repeat center;
      background-size: cover;
    }

    &_inner {
      position: absolute;
      text-align: center;
      z-index: 2;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      }

      &_title {
        font-size: 50px;
        color: $silver;
        
        &::after {
          content: '';
          display: block;
          width: 200px;
          height: 1px;
          background-color: $silver;
        }
      }
      &_subtitle {
        font-size: 40px;
        color: $silver;

        
      }
    }

  }


.portation {
  display: block;
  position: relative;
  width: 90%;
  height: 30%;
  margin-left: 5%;

  &_list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
  }

  &_icon img {
    display: block;
    width: 75px;
    margin: 0 auto;
  }

  &_title {
    display: block;
    width: 80%;
    margin: 0 auto;
    text-align: center;

    &::after {
      content: '';
      display: block;
      width: 200px;
      height: 3px;
      background-color: $silver;
    }
  }
}


.map {
  width: 90%;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  
  h2 {
    font-size: 22px;
    font-weight: bold;
    line-height: 30px;
}

 iframe {
   display: block;
   width: 100%;
   height: 400px;
   margin-top: 25px;
   margin-bottom: 50px;
 }
}

.contact {
  &_area {
  width: 90%;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
}

&_txt_1 {
text-align: center;
font-size: 24px;
margin-top: 5%;
line-height: 1.5;
}
}


.form_area {
  background-color: $white;
  border: 1px solid $silver;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;

  dt {
    width: 200px;
    padding: 15px 0;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;

    .required::after {
      display: inline-block;
      width: 35px;
      height: 20px;
      background-color: $main;
      content: '必須';
      font-size: 11px;
      color: $white;
      margin-left: 10px;
      text-align: center;
    }
  }

  dd {
    width: calc(100% - 200px);
    padding: 15px 0;
  }

  .input-text {
    width: 100%;
    max-width: 280px;
    padding-left: 10px;
    padding-right: 10px;
  } 
}

.message {
  width: 90%;
  height: 260px;
  padding: 10px;
  line-height: 1.5;
}

.breadcrumb {
  width: 90%;
  margin: 2.5% auto 0;

  &_list {
    display: flex;
    list-style: none;
  }

  &_item {
    font-size: 1.25rem;

    &::after {
      content: ">";
      padding: 0 10px;
      font-size: 1.25rem;
    }

    &:last-child::after {
      content: "";
    }
  }
}




