

  .access_top {
      position: relative;
      display: block;
      width: 100%;
      height: 40vh;
  
      &_img {
        background: url(../img/unsplash_csPvbh_E1uc.png) no-repeat;
        background-size: cover;
        background-position: center;
        height: 40vh;
      }
  
      &_txt {
        display: inline-block;
        width: 20%;
        border-bottom: solid 2px #505050;
        margin-left: 40%;
        margin-top: 7%;
        text-align: center;
  
        h1 {
          font-size: 50px;
          color: $gold;
        }
      }
  
      &_sub {
        display: inline-block;
        width: 20%;
        margin-left: 40%;
        text-align: center;
  
        h2 {
          font-size: 40px;
          color: $gold;
        }
      }
    }

.portation {
  display: block;
  position: relative;
  width: 90%;
  height: 30%;
  margin-left: 5%;

  &_list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
  }

  &_icon img {
    display: block;
    width: 75px;
    margin: 0 auto;
  }

  &_title {
    display: block;
    width: 80%;
    margin: 0 auto;
    text-align: center;

    &::after {
      content: '';
      display: block;
      width: 200px;
      height: 3px;
      background-color: $silver;
      margin: 0 auto;
    }
  }
}


.map {
  width: 90%;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  
  h2 {
    font-size: 22px;
    font-weight: bold;
    line-height: 30px;
}

 iframe {
   display: block;
   width: 100%;
   height: 400px;
   margin-top: 25px;
   margin-bottom: 50px;
 }
}

.contact {
  &_area {
  width: 90%;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
}

&_txt_1 {
text-align: center;
font-size: 1.2rem;
margin-top: 5%;
line-height: 1.5;
}
}


.form_area {
  background-color: $white;
  border: 1px solid $silver;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;

  dt {
    width: 200px;
    padding: 15px 0;
    font-size: 1rem;
    font-weight: bold;
    line-height: 24px;

    .required::after {
      display: inline-block;
      width: 35px;
      height: 20px;
      background-color: $main;
      content: '必須';
      font-size: 0.75rem;
      color: $white;
      margin-left: 10px;
      text-align: center;
    }
  }

  dd {
    width: calc(100% - 200px);
    padding: 15px 0;
  }

  .input-text {
    width: 100%;
    max-width: 280px;
    padding-left: 10px;
    padding-right: 10px;
  } 
}

.message {
  width: 90%;
  height: 260px;
  padding: 10px;
  line-height: 1.5;
}

.breadcrumb {
  width: 90%;
  margin: 2.5% auto 0;

  &_list {
    display: flex;
    list-style: none;
  }

  &_item {
    font-size: 1.25rem;

    &::after {
      content: ">";
      padding: 0 10px;
      font-size: 1.25rem;
    }

    &:last-child::after {
      content: "";
    }
  }
}


@media screen and (max-width: 1024px) {
}
.portation {
  &_list {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media screen and (max-width: 768px) {

  .portation {
      &_list {
        margin-left: 2%;
        margin-right: 2%;
      }
    }
  
  .contact_area {
  margin-top: 0;
  }


}
@media screen and (max-width: 480px) {
  .portation_list {
      display: block;
      text-align: center;
    }

    .contact_area {
      padding: 5% 0
    }

.access_top_txt {
  width: 100%;
  margin: 0 auto;
  position: relative;
  border-bottom: none;

}

.access_top_txt h1 {
  font-size: 36px;
  position: absolute;
  height: 60px;
  top: 100px;
  left: 35%;
  border-bottom: solid 2px #505050;
}

.access_top_sub h2 {
  font-size: 24px;
  position: absolute;
  height: 60px;
  top: 180px;
}

.feature_title p {
  font-size: 24px;



    
}

}

