button {
  border: none;
  outline: none;
  background-color: transparent;
  background-color: $gold;
  display: inline-block;
  min-width: 180px;
  font-size: 1.6rem;
  border-radius: 5px;
  margin-right: 3%;
  color: $white;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);

  &:hover {
    background-color: $brightgold;
  }
}
.feature {
  &_btn {
    bottom: 34%;
    display: inline-block;
    width: 10%;
    position: absolute;
    height: 60px;
    background-color: $gold;
    text-align: center;
    left: 45%;
    border-radius: 5px;
    top: 80%;

    a {
      font-size: 30px;
      color: aliceblue
    }

    &:hover {
      transform: scale(1.05);
      transition: all 0.3s ease-in-out 0s;
      box-shadow: 5px 10px 10px #505050;
      opacity: 0.8;
    }
  }
}

