button {
  border: none;
  outline: none;
  background-color: transparent;
  background-color: $gold;
  display: inline-block;
  min-width: 180px;
  font-size: 1.6rem;
  border-radius: 5px;
  margin-right: 3%;
  color: $white;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);

  &:hover {
    background-color: $brightgold;
  }
}
.feature {
  &_btn {
    bottom: 34%;
    display: inline-block;
    width: 10%;
    position: absolute;
    height: 60px;
    background-color: $gold;
    text-align: center;
    left: 45%;
    border-radius: 5px;
    top: 80%;

    a {
      font-size: 30px;
      color: aliceblue
    }

    &:hover {
      transform: scale(1.05);
      transition: all 0.3s ease-in-out 0s;
      box-shadow: 5px 10px 10px #505050;
      opacity: 0.8;
    }
  }
}

.diagnosis {
  &_btn {
    bottom: 34%;
    display: inline-block;
    width: 10%;
    position: absolute;
    height: 60px;
    background-color: $gold;
    text-align: center;
    left: 45%;
    border-radius: 5px;
    top: 85%;
    a {
      font-size: 30px;
      color: aliceblue
    }
    
    &:hover {
      transform: scale(1.05);
      transition: all 0.3s ease-in-out 0s;
      box-shadow: 5px 10px 10px #505050;
      opacity: 0.8;
    }
  }
}
.contact {
    &_btn {
      bottom: 34%;
      display: inline-block;
      width: 30%;
      height: 145px;
      background-color: #9E7E44;
      text-align: center;
      border-radius: 5px;
      margin-top: 3%;
      margin-left: 40%;
      padding-top: 3%;
    
      a {
        font-size: 45px;
        color: aliceblue
      }
    
      &:hover {
        transform: scale(1.05);
        transition: all 0.3s ease-in-out 0s;
        box-shadow: 5px 10px 10px #505050;
        opacity: 0.8;
      }
    }
}

.submit_button {
  background-color: $gold;
  display: inline-block;
  width: 300px;
  min-width: 180px;
  line-height: 60px;
  text-align: center;
  margin-top: 35px;
  margin: 0 auto;

}

@media screen and (max-width: 1024px) {
  .feature_btn {
      width: 20%;
      left: 40%;
      margin-top: 5%;
    }
    .diagnosis_btn {
      width: 20%;
      left: 40%;
    }
    .contact_btn {
      width: 50%;
      margin-top: 8%;
      margin-left: 28%;
    }
}

@media screen and (max-width: 768px) {
  .contact_btn a {
      font-size: 35px;
    }
  .contact_btn {
    height: 100px;
    margin-top: 2%;
  }
}

@media screen and (max-width: 480px) {
  .feature_btn {
      width: 30%;
      left: 35%;
    }
    .diagnosis_btn {
      width: 30%;
      left: 35%;
    }
    .contact_btn {
      height: 70px;
    }

    .contact_btn a {
      font-size: 25px;
    }
}