.header {
  width: 100%;
  background-color: $main;


  &_inner {
    width: 100%;
    height: 110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_logo {
      display: flex;
    }
  }

  &_logo img {
    display: block;
    width: 110px;
  }

  &_title {
    display: block;
    width: 300px;
    align-items: center;
    padding: 5%;

    p {
      color: $white;
    }
  }

  &_site {
  
  &_contact {
    display: inline-block;
    width: 400px;
    padding: 0 2.5%;

  & span,p {
    color: $white;
  }

  & p {
    font-size: 1.5rem;
  }
  }

  &_menu {
    width: 100%;
  }

}
}

.site_menu {

 & ul {
  width: 100%;
  display: flex;
  justify-content: right;
 
  & li {
    display: inline-block;
    text-align: center;
    padding: 2.5%;
  
   & a {
      display: inline-block;
      font-size: 1.5rem;
      font-weight: 700;
      width: 200px;
      color: $white;

      &:hover {
        color: #888;
        border-bottom: solid 2px #ddd;
      }

      & span {
        display: block;
        margin-top: 5%;
        font-size: 0.75rem;
      }
    }
  }
 }
}


.toggle_menu_button {
  display: none;
}