.container {
  width: 100%;
  margin: 0 auto;
}


#header {
  background-color: $main;
  padding-right: 2%;
}

#header > .container {
  width: 100%;
  height: 110px;
  display: flex;
  align-items: center;
}

.area_logo_header .logo {
  display: block;
}

.area_logo_header .logo img{
  height: 110px;
  width: 110px;
  vertical-align: bottom;
}

.header_title p {
font-size: 1rem;
color: $body;
display: block;
width: 100%;
margin-left: 1%;
}

p.header_name {
  color: $body;
  font-size: 1.2rem;
  font-weight: bold;
  display: block;
  width: 100%;
  margin-left: 1%;
}

.header_title {
  padding-left: 2%;
}

.header_tel {
  color: $body;
  display: block;
  padding-left: 4%;
}

p.header_telnumber {
  color: $body;
  font-size: 1.2rem;
  font-weight: bold;
}


#g-nav {
  margin-left: auto;
}

#g-nav .gnavi {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: center;
  flex-wrap: wrap;
}

#g-nav .gnavi .nav a {
  color: #fff;
  list-style: none;
  font-size: 23px;
  font-weight: bold;
  position: relative;
  
}

#g-nav .gnavi .nav a:hover  {
  color: $silver
}

#g-nav .gnavi .nav a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -40%;
  // 線の形状
  width: 80%;
  height: 2px;
  background: $silver;
  // アニメーションの指定
  transition: all .3s;
  transform: scale(0,1);
  // 上部中央起点
  transform-origin: center top;
}

// 現在地とhoverの設定
#g-nav .gnavi .nav a:hover::after {
  transform: scale(2,1);
}

#g-nav ul a span {
  font-size: 0.75rem;
}

#g-nav ul li {
  list-style: none;
}

#g-nav ul > li + li {
  margin-left: 40px;
}

#g-nav ul li a span {
  display: block;
}

.btn_contact {
  display: flex;
  align-items: center;
  height: 88px;
  background-color: $gold;
  border-radius: 5px;
  padding: 0 48px;
  box-shadow: 2px 2px 4px gray;
  line-height: 2rem;

  &:hover {
      background-color: $brightgold;
    }
}

.btn_contact a {
 font-size: 1.3rem; 
 font-weight: bold;
 color: $white;

}

@media screen and (max-width: 1024px) {


  #g-nav .gnavi li a {
      font-size: 1rem;
    }

.header_title p {
  font-size: 0.75rem;
  padding-left: 0;
}

.header_tel {
  font-size: 0.75rem;
  padding-left: 2%;
}

}


@media screen and (max-width: 768px) {

/*========= ナビゲーションのためのCSS ===============*/

#g-nav {
  /*position:fixed;にし、z-indexの数値を小さくして最背面へ*/
  position: fixed;
  z-index: -1;
  opacity: 0;
  /*はじめは透過0*/
  /*ナビの位置と形状*/
  top: 0;
  width: 100%;
  height: 100vh;
  /*ナビの高さ*/
  background: $main;
  /*動き*/
  transition: all 0.3s;
}

/*アクティブクラスがついたら透過なしにして最前面へ*/
#g-nav.panelactive {
  opacity: 1;
  z-index: 999;
}

/*ナビゲーションの縦スクロール*/
#g-nav.panelactive  {
  /*ナビの数が増えた場合縦スクロール*/
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  /*表示する高さ*/
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav ul {
  display: none;
  /*ナビゲーション天地中央揃え*/
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#g-nav.panelactive ul {
  display: block;
}

/*リストのレイアウト設定*/

#g-nav li {
  list-style: none;
  text-align: center;
}

#g-nav li a {
  color: #333;
  text-decoration: none;
  padding: 10px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}



/*========= ボタンのためのCSS ===============*/
.openbtn1 {
  position: fixed;
  z-index: 9999;
  /*ボタンを最前面に*/
  top: 2%;
  right: 20%;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

/*×に変化*/
.openbtn1 span {
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background-color: #666;
  width: 45%;
}

.openbtn1 span:nth-of-type(1) {
  top: 15px;
}

.openbtn1 span:nth-of-type(2) {
  top: 23px;
}

.openbtn1 span:nth-of-type(3) {
  top: 31px;
}

.openbtn1.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.openbtn1.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn1.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}



/*========= レイアウトのためのCSS ===============*/

h1 {
  font-size: 1.2rem;
}

h2 {
  font-size: 1.2rem;
  text-align: center;
  margin: 0 0 30px 0;
}

p {
  margin-top: 20px;
}

small {
  color: #fff;
  display: block;
  text-align: center;
}

#header {
  width: 100%;
  background: $main;
  color: #fff;
  text-align: center;
}

li.btn_contact {
  width: 20%;
  height: 10%;
  display: inline-block;
}

#g-nav ul>li+li {
  margin-left: 0px;
}

}

@media screen and (max-width: 480px) {

p.header_telnumber {
  font-size: 1rem;
}

li.btn_contact {
  display: inline-block;
  width: 200px;
  text-align: center;
  padding: 0 10px;
}
}